@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1a1b1e;
  color: #e2e8f0;
  -webkit-tap-highlight-color: transparent;
}
/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}